

#grilla {
    display: grid;
    grid-template-areas:
      "nav header header"
      "nav productos publicidad"
      "nav servicios publicidad"
      "nav footer footer";
    grid-template-rows: 75px 1fr 1fr 75px; 
    grid-template-columns: 18% 18%;
     grid-column-gap: 10px;
     grid-row-gap: 15px;
     height: 100vh;
 }
 
 
 header {
    grid-area: header;
 }
 footer {
    grid-area: footer;
 }
 section#productos {
    grid-area: productos;     
 }
 section#servicios {
    grid-area: servicios;     
 }
 nav {
    grid-area: nav;
 }
 aside {
    grid-area: publicidad;
 }
 
.border {
	background: #9494F7

}