.marco {
    padding: 5px;
    display: inline-block;
    font-size: 10px;
    font-family: arial;
    widows: 10%;
    height: 10%;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 5px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 10px;
    padding-bottom: 13px;
    border: 10px solid gray; 
}